<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['']" [text]="'zurück'"></ion-back-button>
            </ion-buttons>
      <ion-title>
        Passwort Reset
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-card class="welcome-card">
          <ion-img src="/assets/Logo_Kiga.png"></ion-img>
          <ion-card-content>
              <p><b>Sie haben Ihr Passwort vergessen?</b>
            <br><br>
            Bitte geben Sie unten Ihre Emailadresse ein. Sie kriegen bald eine Email für Ihr Passwort Reset.</p>
          </ion-card-content>
        </ion-card>
    <form [formGroup]="passwordResetForm" novalidate> 
      <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Ihre Emailadresse"></ion-input>
      </ion-item>
    <p></p>
      <ion-button
      expand="block" (click)="passwordReset(passwordResetForm)" [disabled]="!passwordResetForm.valid">
      <b>Passwort Reset</b> 
      </ion-button>
    </form> 
  </ion-content>
