<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          {{viewTitle}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>


      <calendar
      [startingDayWeek]="calendar.DayWeek"
      [eventSource]="eventSource"
              [locale]="calendar.locale"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30" 
              class="calendar">
            </calendar>
      
      </ion-content>
