<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>676880190972-bom4av3asae9koingmj471jotcptm5hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676880190972-bom4av3asae9koingmj471jotcptm5hs</string>
	<key>API_KEY</key>
	<string>AIzaSyDve9IB2kn4f9irDAP6I3rF5qprSU6ZHgo</string>
	<key>GCM_SENDER_ID</key>
	<string>676880190972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recto.KigaAppGammertingen</string>
	<key>PROJECT_ID</key>
	<string>kigaapp-gammertingen</string>
	<key>STORAGE_BUCKET</key>
	<string>kigaapp-gammertingen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676880190972:ios:d68c662a72321579</string>
	<key>DATABASE_URL</key>
	<string>https://kigaapp-gammertingen.firebaseio.com</string>
</dict>
</plist>