<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    
        <ion-card class="welcome-card">
          <ion-img src="/assets/Logo_Kiga.png"></ion-img>
          <ion-card-content>
              <p><b>Herzlich willkommen auf KigaApp</b>
            <br><br>
            Hier gibt es bald eine Anleitung zur Benutzung unserer App.</p>
          </ion-card-content>
        </ion-card>
    
    
</ion-content>
