<ion-header>
  <ion-toolbar color="primary">
      
          <ion-title>
              Logout
            </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card class="welcome-card">
        <ion-img src="/assets/Logo_Kiga.png"></ion-img>
        <ion-card-content>
            <p><b>Wollen Sie sich wirklich ausloggen?</b>
          <br><br>
          Vielen Dank für die Benutzung unserer App.</p>
        </ion-card-content>
      </ion-card>

    <ion-button expand="block" (click)="logOut()" item-center>
        <b>ja ausloggen!</b> 
</ion-button>

</ion-content>
